# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Database files (only if you don't want to track them)
*.db

# Local credentials (never commit keys!)
credentials/
*.json

# Model files (optional)
*.pkl

# Logs
*.log

credentials/
.env

test_train_model.py
update_transactionsDataset_csv.py
training_dataset.csv
intro.sql
expenses_bank.py
chase_sem1.csv