# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Database files (only if you don't want to track them)
*.db

# Local credentials (never commit keys!)
credentials/
*.json

# Model files (optional)
*.pkl

# Logs
*.log

# Environment variables
credentials/
.env

# csv files containg datasets
training_dataset.csv
backup_dataset.csv
corrections.csv

# helper files to test the ML model
test_train_model.py
update_transactionsDataset_csv.py

# sql file
intro.sql

.DS_Store
